<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<h2 class='title'>
  Hello, 
  <%= @user.name %>
  <%= link_to "âœ", edit_user_registration_path %>
</h2>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
