<header>
<%= link_to 'ðŸ¡¸', root_path %>
<h2>GROUPS</h2>
<%= link_to 'Sign out' ,destroy_user_session_path, method: :delete, id: 'signout' %>
</header>

<h2 class='title header'>
  Hello, 
  <%= @user.name %>
  <%= link_to "âœ", edit_user_registration_path %>
</h2>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <hr>
  <% end %>
</div>

<%= link_to "New Group", new_group_path, class: "btn secondary" %>
